<div class="comment-container" id="comment<%= tcomment.id %>">
  <div class="comment-author-container">
    <div class="comment-author-thumbnail">
      <% if tcomment.user.images.present? %>
        <%= image_tag tcomment.user.images.url, class: 'author-profile-thumbnail', loading: "lazy" %>
      <% else %>
        <i class="far fa-user-circle"></i>
      <% end %>
    </div>
    <div class="comment-author">
      <div class="comment-author-name">
        <%= tcomment.user.accountName %>
      </div>
    </div>
  </div>
  <div class="comment-text-container">
    <div class="comment-text" id="comment-text"><%= tcomment.text %>
    </div>
  </div>
  <div class="comment-footer-container">
    <%= link_to "/comments/#{ tcomment.id }", class: "comment-destroy-btn", id: "comment-destroy-btn#{ tcomment.id }", method: :delete, remote: true do %>
      <span class="comment-destroy-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      <span>
    <% end %>
    <span class="comment-created_at">
      <%= time_ago_in_words(tcomment.created_at).upcase %>前
      <%#= tcomment.created_at.strftime("%-Y.%-m.%-d(#{%w(日 月 火 水 木 金 土)[tcomment.created_at.wday]}) %-H:%M") %>
    </span>
  </div>
</div>
<script>
  // 削除時確認ダイアログ(sweetalert2)
  $('#comment-destroy-btn<%= tcomment.id %>').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
  
    var $link = $(this);
  
    swal.fire({
      icon: 'warning',
      iconColor: 'red',
      title: 'このコメントを削除してもよろしいですか？',
      confirmButtonText: '削除する',
      confirmButtonColor: '#d33',
      showCancelButton: true,
      cancelButtonText: 'キャンセル',
      focusCancel: true,
      position : 'center',
      allowEscapeKey: true,
      customClass: {
        popup: 'sweetalert-comment-destroy'
      }
    }).then(function(result) {
      if (result.isConfirmed) {
        $.ajax({
          url: '/comments/<%= tcomment.id %>',
          type: 'DELETE',
        });
      }
    }, function(dismiss) {});
  });
</script>