<% unless channel.public == 1 && cp_current_user.role == 2 %>
  <div class="channel-name-btn" id="channel-name-btn_<%= channel.id %>">
    <%= link_to channels_channel_change_path(channel_id: channel.id), class: 'channel-name', id: "channel-name_#{ channel.id }", remote: true do %>
      <span class="color-icons">
        <span class="hexs"><%= channel.color %></span>
      </span><%= channel.channelName %>
    <% end %>
    
    <%= link_to channels_channel_show_path(id: channel.id), class: "channel-show", id: "channel-show_#{ channel.id }", remote: true do %>
      <span class="btn channel-show-icon" data-toggle="modal" data-target="#channel-show-Modal<%= channel.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </span>
    <% end %>
    
    <div class="modal channel-show-Modal" id="channel-show-Modal<%= channel.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <%#= render partial: "channels/channel_show_modal" %>
    </div>
    
    <% if cp_current_user.role == 1 %>
      <div class="modal channel-edit-Modal" id="channel-edit-Modal<%= channel.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <%#= render partial: "channels/channel_edit_modal" %>
      </div>
    <% end %>
  </div>
<% end %>
<script>
  $('#channel-name-btn_<%= channel.id %>').hover(function() {
	  $('#channel-show_<%= channel.id %>').css('display', 'block');
	  $('#channel-name_<%= channel.id %>').css('width', '22.0rem');
	}, function() {
		$('#channel-show_<%= channel.id %>').css('display', 'none');
		$('#channel-name_<%= channel.id %>').css('width', '24.2rem');
	});
</script>