<head>
  <!-- bootstrap-add-clear -->
  <%= javascript_include_tag "bootstrap-add-clear/bootstrap-add-clear.min.js" %>
  
  <!-- flatpickr -->
  <%= stylesheet_link_tag 'flatpickr/flatpickr.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "flatpickr/flatpickr.min.js" %>
  <%= javascript_include_tag "flatpickr/ja.js" %>
  <%= javascript_include_tag "flatpickr/rangePlugin.js" %>
  
  <!-- Quill - CDN - -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script><%#= javascript_include_tag "quill/quill.js" %>
  <%= stylesheet_link_tag 'quill/quill.snow', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="top-wrapper">
  <div class="form-container">
    <h1 class="text-black text-center mt-auto">サイト名</h1>
    <h4 class="text-black text-center">スレッド作成</h4>
    <div class="mt-4 offset-xl-3 offset-lg-3 offset-md-2 offset-1 col-xl-6 col-lg-6 col-md-8 col-10">
      <%= form_for @gthread, html: { autocapitalize: "off", autocorrect: "off" } do |f| %>
        <%= f.hidden_field :channel_id %>
        <div class="form-group">
          <%= f.label "タイトル", class: "label-text" %>
          <%= f.text_field :title, class: "form-control", id: "title", placeholder: "○○クラブとの合同練習試合", autofocus: true %>
        </div>
        <div class="form-group">
            <%= f.label "ファイル（画像、PDFなど）", class: "label-text" %>
            <%= f.file_field :images, multiple: true %>
        </div>
        
        <div class="form-group" id="text_area">
          <%= f.label "本文", class: "label-text" %>
          <%= f.text_area :description, type: 'text', class: "form-control quill_container", id: "description" %>
        </div>
        
        <%= f.submit "スレッドを作成する", class: "btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%#= javascript_include_tag "channels_new_resize.js" %>
<script>
  $(".form-control").addClear({
    symbolClass: "far fa-times-circle",
    color: "#7d7d7d"
  });
  
  var defaults = {
    theme: 'snow',
    modules: {
      toolbar: [
          //[{ 'header': [1, 2, 3, false] }],
          [{ 'size': ['small', false, 'large'] }],
          ['bold', 'italic', 'underline', 'strike'],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],
          ['blockquote', 'code', 'link']
      ]
    }
  };
  
  Quilljs.setDefaults(defaults)
</script>