<head>
  <%= javascript_include_tag "bootstrap-add-clear/bootstrap-add-clear.min.js" %>
</head>
<div class="top-wrapper">
  <div class="form-container">
    <h1 class="text-black text-center mt-auto">サイト名</h1>
    <h4 class="text-black text-center">アカウント作成</h4>
    <div class="mt-4 offset-xl-3 offset-lg-3 offset-md-3 offset-2 col-xl-6 col-lg-6 col-md-6 col-8">
      <%= form_for @user, html: { autocapitalize: "off", autocorrect: "off" } do |f| %>
        <div class="form-group form-row">
          <div class="col">
            <div class="label-text-box">
              <span class="badge badge-danger">必須</span>
              <%= f.label "氏名", class: "label-text1" %>
            </div>
            <%= f.text_field :family_name, class: "form-control", id: "family_name", placeholder: "姓(15文字以内)", autocomplete: "family-name", autofocus: true %>
          </div>
          <div class="col text-right">
            <div class="label-text-box">
              <%= f.label "※全て必須", class: "help-text1" %> <%#この行は必要？？%>
            </div>
            <%= f.text_field :first_name, class: "form-control", id: "first_name", placeholder: "名(15文字以内)", autocomplete: "given-name" %>
          </div>
        </div>
        <div class="form-group">
          <div class="label-text-box">
            <span class="badge badge-danger">必須</span>
            <%= f.label "アカウント名（表示名）", class: "label-text1" %>
          </div>
          <%= f.text_field :accountName, class: "form-control", id: "accountName", placeholder: "アカウント名" %>
        </div>
        <div class="form-group">
          <div class="label-text-box">
            <span class="badge badge-danger">必須</span>
            <%= f.label "メールアドレス", class: "label-text1" %>
          </div>
          <%= f.email_field :email, type: "email", class: "form-control", id: "email", placeholder: "例：taro.yamada@gmail.com", autocomplete: "email" %>
        </div>
        <div class="form-group">
          <div class="label-text-box">
            <span class="badge badge-danger">必須</span>
            <%= f.label "パスワード", class: "label-text1" %>
          </div>
          <%= f.password_field :password, class: "form-control", id: "password", placeholder: "半角英数字8～20文字", minlength: "８", maxlength: "20", pattern: "^[0-9A-Za-z]+$" %>
        </div>
        <div class="form-group">
          <div class="label-text-box">
            <span class="badge badge-danger">必須</span>
            <%= f.label "パスワード（確認用）", class: "label-text1" %>
          </div>
          <%= f.password_field :password_confirmation, class: "form-control", id: "password_confirmation", placeholder: "パスワードの再入力", minlength: "8", maxlength: "20", pattern: "^[0-9A-Za-z]+$" %>
        </div>
        <div class="form-group">
          <%= f.label :images %>
          <%= f.file_field :images %>
        </div>
        
        <%= f.submit "メールを送信する", class: "btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "users_new_resize.js" %>
<script>
  $(".form-control").addClear({
    symbolClass: "far fa-times-circle",
    color: "#7d7d7d"
  });
</script>
