<head>
  <%= javascript_include_tag "bootstrap-add-clear/bootstrap-add-clear.min.js" %>
</head>
<div class="top-wrapper text-center">
  <div class="top-container">
    <h1 class="text-black">サイト名</h1>
    <div class="row">
      <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-3 col-lg-3 col-md-4 col-4" id="resizebutton1">
        <%= link_to 'サインアップ', new_user_path, class: 'btn btn-block btn-black' %>
      </div>
      <div class="offset-xl-2 offset-lg-2 offset-md-2 offset-2 col-xl-3 col-lg-3 col-md-4 col-4" id="resizebutton2">
        <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="public-com-container">
      <h2 class="text-black">コミュニティを探す</h2>
      <div class="row">
        <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-8 col-lg-8 col-md-10 col-10">
          <%= form_with class: "form", url: '/', method: 'get' do %>
            <%= text_field_tag :search, params[:search], type: "search", class: "form-control", id: "resizebox", placeholder: "Coming Soon", disabled: true %> <%# params[:search]をどうするか %>
            <%= link_to '#', class: "btn search-btn disabled", method: :get do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row text-right">
        <div class="offset-xl-2 offset-lg-2 offset-md-1 offset-1 col-xl-8 col-lg-8 col-md-10 col-10">
          <p1>
            <%= link_to '>>詳細検索する', searches_show_path, class: "search-show-btn" %>
          </p1>
        </div>
      </div>
      
    </div>
  </div>
</div>
<%= javascript_include_tag "pages_index_resize.js" %>
<script>
  $(".form-control").addClear({
    symbolClass: "far fa-times-circle",
    color: "#7d7d7d"
  });
</script>
