<head>
  <%= javascript_include_tag "bootstrap-add-clear/bootstrap-add-clear.min.js" %>
</head>
<div class="top-wrapper">
  <div class="form-container invitation-form-container">
    <h4 class="text-black text-center mb-5">招待メールを送る</h4>
    <div class="invitation-form mt-4 offset-xl-3 offset-lg-3 offset-md-3 offset-2 col-xl-6 col-lg-6 col-md-6 col-8">
      <%= form_for :invitee, url: invitations_path, html: { class: "needs-validation", novalidate: true, autocapitalize: "off", autocorrect: "off" } do |f| %>
        <div class="form-group">
          <div class="label-text-box">
            <span class="badge badge-danger">必須</span>
            <%= f.label "メールアドレス", class: "label-text1" %>
          </div>
          <%= f.email_field :email, type: "email", class: "form-control", id: "email", placeholder: "例：taro.yamada@gmail.com", autocomplete: "email", required: true %>
          <div class="invalid-feedback">
            ［メールアドレス］を入力してください
          </div>
        </div>
        
        <%= hidden_field_tag :community_id, params[:community_id] %>
        <%= hidden_field_tag :communityName, params[:communityName] %>
        
        <%= f.submit "送信", class: "btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "invitations_new_resize.js" %>
<script>
  $('.form-control').addClear({
    symbolClass: 'far fa-times-circle',
    color: '#7d7d7d'
  });
</script>