<%# gthread.thread_reactions.select(:images, :entity_name).distinct.each do |treaction| %>
<span id="treaction_<%= gthread.id %>_<%= treaction.entity_name %>">
  <% if gthread.thread_reaction_users.where(id: current_user.id, thread_reactions: { images: treaction.images }).present? %>
    <%= link_to thread_reaction_path(gthread_id: gthread.id, entity_name: treaction.entity_name), { class: "treactions-text-decoration", id: "reaction-destroy-btn_#{ gthread.id }_#{ treaction.entity_name }", controller: 'thread_reactions', action: 'destroy', method: :delete, remote: true } do %>
      <button type="button" class="btn treactions-list_<%= gthread.id %>_<%= treaction.entity_name %>">
        <img src='<%= "#{ treaction.images }" %>' class="treactions-images">
        <span class="treactions-counts-box">
          <span class="treactions-counts">
            <%= gthread.thread_reactions.where(images: treaction.images).count %>
          </span>
        </span>
      </button>
    <% end %>
  <% else %>
    <%= link_to thread_reactions_path(gthread_id: gthread.id, entity_name: treaction.entity_name, images: treaction.images), { class: "treactions-text-decoration", controller: 'thread_reactions', action: 'create', method: :post, remote: true } do %>
      <button type="button" class="btn treactions-list_<%= gthread.id %>_<%= treaction.entity_name %>">
        <img src='<%= "#{ treaction.images }" %>' class="treactions-images">
        <span class="treactions-counts-box">
          <span class="treactions-counts" id="treactions-counts_<%= gthread.id %>_<%= treaction.entity_name %>">
            <%= gthread.thread_reactions.where(images: treaction.images).count %>
          </span>
        </span>
      </button>
    <% end %>
  <% end %>
</span>
<script>
  // リアクションしたユーザーとその人数
  tippy('.treactions-list_<%= gthread.id %>_<%= treaction.entity_name %>', {
    content: `<div class="tippy-treaction-users-container">
                <div class="tippy-treaction-images-box">
                  <img src='<%= "#{ treaction.images }" %>' class="tippy-treaction-images">
                </div>
                <div class="tippy-treaction-users-accountName">
                  <% gthread.thread_reaction_users.where(thread_reactions: { images: treaction.images }).each_with_index do |treaction_user, i| %>
                    <% if i == gthread.thread_reaction_users.where(thread_reactions: { images: treaction.images }).length - 1 %>
                      <%= treaction_user.accountName %>さんが
                      <span class="tippy-treaction-text-attached">リアクションしました</span>
                    <% else %>
                      <%= treaction_user.accountName %>さん,
                    <% end %>
                    <% if current_user.id == treaction_user.id %>
                      （削除する場合はクリック）
                    <% end %>
                  <% end %>
                </div>
              </div>`,
    allowHTML: true,
    theme: 'treaction',
    delay: [200, 0]
  });
  
  // 削除時確認ダイアログ(sweetalert2)
  $('#reaction-destroy-btn_<%= gthread.id %>_<%= treaction.entity_name %>').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    
    $('.treactions-list_<%= gthread.id %>_<%= treaction.entity_name %>').blur();
  
    var $link = $(this);
  
    swal.fire({
      icon: 'warning',
      iconColor: 'red',
      title: 'このリアクションを削除してもよろしいですか？',
      confirmButtonText: '削除する',
      confirmButtonColor: '#d33',
      showCancelButton: true,
      cancelButtonText: 'キャンセル',
      focusCancel: true,
      position : 'center',
      allowEscapeKey: true,
      customClass: {
        popup: 'sweetalert-reaction-destroy'
      }
    }).then(function(result) {
      if (result.isConfirmed) {
        $.ajax({
          url: '/thread_reactions/<%= treaction.entity_name %>',
          type: 'DELETE',
          data: { gthread_id: <%= gthread.id %> },
        });
      }
    }, function(dismiss) {});
  });
</script>
<%# end %>