<%#$('.channel-names').append("<%= j(render 'show') >");%>

$('#rgb').html("<%= @channel.color %>");

var cicon = '<span id="color-icon"><span id="rgb"><%= @channel.color %></span></span>'
$('#cicon').html(cicon);


$('.channel-name').html("<%= @channel.channelName %>");

var ge = '<a id="dropdowntoggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= icon('fas', 'plus') %></a><div class="dropdown-menu" aria-labelledby="dropdownMenuLink"><%= link_to 'スレッドを作成する', new_gthread_path(channel_id: @channel.id), class: 'dropdown-item' %><%= link_to 'イベントを作成する', new_event_path(channel_id: @channel.id), class: 'dropdown-item' %></div>'

var nge = '<a type="button" data-toggle="modal" data-target=".bd-modal-sm"><%= icon('fas', 'plus') %></a><div class="modal bd-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"><div class="modal-dialog modal-sm"><div class="modal-content"><%= link_to 'スレッドを作成する', new_gthread_path(channel_id: @channel.id), class: 'dropdown-item' %><%= link_to 'イベントを作成する', new_event_path(community_id: @channel.community_id, channel_id: @channel.id, color: @channel.color), class: 'dropdown-item' %></div></div></div>'

$('.new-thread-or-event').html(nge);

$('.thread-container').html("<%= escape_javascript(render partial: 'thread', collection: @threads) %>");