<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'd_custom', media: 'screen and (min-width: 1200px)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    't_custom', media: 'screen and (min-width: 768px) and (max-width: 1199px)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'm_custom', media: 'screen and (max-width: 767px', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    
    <!-- Font Awesome5 アニメーションを使用するためのコード -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body data-turbolinks="false" ontouchstart=""> <!-- Fullcalendar-rails導入のためfalseに -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert">
        <%= value %>
      </div>
    <% end %>
    
    <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(3500);
      });
    </script>
  </body>
</html>
